[Unit]
Description=Cron Service
After=local-fs.target
After=zimaos-gateway.service
After=zimaos-message-bus.service
After=zimaos-user.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/cron
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
